  <div id="side">
    {{new-list saveList="saveList" list=list}}
  </div>

  <div id="list">
    <ul class="nav nav-tabs">
      {{#each model as |list|}}
          <li><a>{{#link-to 'listtile.list' list.id}}{{list.title}}{{/link-to}}</a></li>
          <!-- <li><button type="button"  class="btn btn-xs btn-default" {{action 'deleteList'}}>
              <span class="list glyphicon glyphicon-trash"></span>
              </button>
          </li> -->
    {{/each}}
      </ul>
  </div>


<div class="container">
  {{outlet}}

  <!-- <div id="calendar">
    {{full-calendar events="events"}}
  </div> -->
</div>
